@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #1e90ff;
    --secondary: #2d3748;
    --tertiary: #4a5568;
}


@layer base{
    body{
        
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 2.5rem;

    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
    h6{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }

    .container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .container-fluid{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .col{
        flex: 1;
        padding: 0 1rem;
    }
    
}
.debug{
    @apply border border-red-500;
}
.nav-list:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    right:0;
    bottom:-5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.flex-row-center-center{
    @apply flex flex-row justify-center items-center;
}

.flex-col-center-center{
    @apply flex flex-col justify-center items-center;
}

.flex-row-center-between{
    @apply flex flex-row justify-between items-center;
}

.flex-col-center-between{
    @apply flex flex-col justify-between items-center;
}