@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e90ff;
  --secondary: #2d3748;
  --tertiary: #4a5568;
}

@layer base {
  /* Headers */
  h1 {
    @apply  text-[28px] font-bold leading-[34px]  text-gray-800;
  }

  h2 {
    @apply  text-[24px] font-bold leading-[29px]  text-gray-800;
  }

  h3 {
    @apply  text-[20px] font-bold leading-[24px]  text-gray-800;
  }

  h4 {
    @apply  text-[14px] font-bold leading-[18px] text-[#b789e0];
  }

  /* Button Text */
  h5 {
    @apply  text-[16px] font-bold leading-[20px];
  }

  /* Error */
  h6 {
    @apply  text-[16px] font-normal leading-[26px] text-red-500;
  }

  /* Normal and Bullet Points */
  p {
    @apply  text-[16px] font-normal leading-[26px] text-gray-800;
  }

  li {
    @apply  text-[16px] font-normal leading-[26px] text-gray-800;
  }

  html {
    overflow-y: scroll;
  }

  input {
    @apply rounded-lg py-2 px-4  text-[16px] font-normal leading-[26px] text-gray-800 outline-none dark:bg-[#b789e0];
  }

  textarea {
    @apply block resize-none rounded-lg py-2 px-4  text-[16px] font-normal leading-[26px] text-gray-800 outline-none ring-1 ring-[#EAECF1] transition duration-200 ease-in-out focus:ring-2 focus:ring-[#b789e0] dark:bg-[#b789e0] dark:ring-gray-800 focus:dark:ring-2 focus:dark:ring-[#b789e0];
  }
}
.debug {
  @apply border border-red-500;
}
.nav-list:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  right: 0;
  bottom: -5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.flex-row-center-center {
  @apply flex flex-row justify-center items-center;
}

.flex-col-center-center {
  @apply flex flex-col justify-center items-center;
}

.flex-row-center-between {
  @apply flex flex-row justify-between items-center;
}

.flex-col-center-between {
  @apply flex flex-col justify-between items-center;
}
